/*** 
/* Block component
.btn {}

/* Element that depends upon the block
.btn__price {}

/* Modifier that changes the style of the block
.btn--orange {} 
.btn--big {}

 block is a top-level abstraction of a new component, for example a button: .btn { }. 
 This block should be thought of as a parent. Child items, or elements, can be placed inside and these are denoted by two underscores
 following the name of the block like .btn__price { }. Finally, modifiers can manipulate the block so that we can theme or style that particular
 component without inflicting changes on a completely unrelated module. This is done by appending two hyphens to the name of the block just like btn--orange.

 good example:

 <a class="btn btn--big btn--orange" href="https://css-tricks.com">
  <span class="btn__price">$9.99</span>
  <span class="btn__text">Subscribe</span>
</a>

/* Example Module
.mod { }

/* Part of Module
.inner { }

/* Talk Module
.talk { }

/* Variation of part inside Module
.talk .inner { }

BEM versions:

.mod__inner, .mod--talk, .mod--talk__inner

***/

body {
  background: bisque;
}
h1 {
  color: lightblue;
}

.add-value {
  color: black;
}

.click-me {
  width: 5em;
  height: 5em;
  background: red;
}
